body {

  text-align: center;
}

input {

  border: solid rgb(220 219 219) 2px;
  border-radius: 5px;
  width: 40%;


}

.gallery {

  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  grid-template-rows: repeat(auto-fit,minmax(200px,1fr));
  grid-gap: 20px;

}

img {

box-shadow: 7px 6px 9px grey;
border-radius: 13px;
}

ul {

  display: none;
}
