body {

  text-align: center;
}

input {

  border: solid rgb(220 219 219) 2px;
  border-radius: 5px;
  width: 40%;


}

div {

  margin-top: 2rem;
  max-width:1000px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
  grid-template-rows: repeat(auto-fit, minmax(100px,1fr));
  grid-gap: 20px;

}
